<div class="container">
<div class="panel panel-default">
    <div class="panel-heading">
            <h2>关于我们</h2>
    </div>
    <div class="panel-body">
<h3>管理团队：</h3>
<div class="h4">陶广，1D1.COM创始人，项目负责人，毕业于周口师范学院。 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;孙士卿，1D1.COM联合创始人，业务总监，毕业于周口师范学院。</div>
<div class="h4">王军，1D1.COM联合创始人，技术总监，毕业于河南农业大学。&nbsp;&nbsp;汤其锦，1D1.COM联合创始人，财务总监，毕业于河南财经政法大学。</div>

<h3>关于我们：</h3>
<p style="line-height: 32px;" class="h4">1D1.COM上线于2014年11月11日，是周口师范学院第一个家教网站，周口家教第一品牌，河南地区第一个多城市开通的家教网站。家教老师可以在1D1.COM注册成为教员，家长在1D1.COM可以根据条件搜索选择适合孩子的老师。严格的审核机制，对每个老师的信息严格认证；专业的匹配模式，实现个性化一对一的教学；每日的教学跟进，实时掌握教员授课和学生学习情况，确保高水平授课质量。</p>

<p class="h4">家教热线：0394-7817858 &nbsp;&nbsp;&nbsp;18336597573 &nbsp;&nbsp;官方网站：www.1d1.com   &nbsp;&nbsp;&nbsp;    微信/QQ：13004833</p>
<p class="h4">地址：周口师范学院大学生创新创业中心212室壹对壹教育研究中心</p>
    </div>
</div>
</div>