<div class="container">
<div class="panel panel-default">
        <div class="panel-heading">
                <h2>团队介绍</h2>
        </div>
<div class="panel-body">
        <p>团队负责人：陶广，周口师范学院心理学专业，原谷微科技创始人，资深家教老师。 项目创始人兼负责人
，负责项目战略和项目执行，野性基因，野蛮生长，带领团队走向胜利！
        </p>
        <p> 家教行政员：林娇，周口师范学院经济管理专业，接待家长并对接家教员，对家教业务跟踪记录并回访。</p>

        <p> 教育研究员：周昱秋，周口师范学院汉语言文学专业，负责1d1.com教育期刊的编撰和个性化教学研究的开展工作。</p>

        <p>  首席代言：周口师范学院300名可爱的家教员们，是1d1.com最美的代言！</p>


        <p>联系我们：</p>

        <p>家教热线：0394-7817858   网址：www.1d1.com</p>

        <p>  地址：周口师范学院大学生创新创业中心212室6区壹对壹家教（1d1.com）</p>

    </div>
</div>
</div>