<div class="container">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-5 col-md-2" style="font-size: 15px;padding-bottom: 2px;">
                <strong>筛选条件:</strong>
            </div>
            <div class="col-xs-7 col-md-10" id="condition">
                <span class="chose_class"></span>
                <span class="chose_subject"></span>
                <span class="chose_sex"></span>
                <span class="chose_city"></span>
            </div>
        </div>
        <div class="gap"></div>
        <div class="row">
            <div class="col-xs-12 col-md-1" style="font-size: 15px;">
                城市:
            </div>
            <div class="col-xs-12 col-md-11">
                <div class='row text-center'>
                    <div class="col-xs-3 col-md-1"><a href="javascript:void(0);" data-data="周口" class="shuaixuan shuaixuan_city" >周口</a></div>
                    <div class="col-xs-3 col-md-1"><a href="javascript:void(0);" data-data="信阳" class="shuaixuan shuaixuan_city" >信阳</a></div>
                    <div class="col-xs-3 col-md-1"><a href="javascript:void(0);" data-data="郑州" class="shuaixuan shuaixuan_city" >郑州</a></div>
                    <div class="col-xs-3 col-md-1"><a href="javascript:void(0);" data-data="商丘" class="shuaixuan shuaixuan_city" >商丘</a></div>
                    <div class="col-xs-3 col-md-1"><a href="javascript:void(0);" data-data="南阳" class="shuaixuan shuaixuan_city" >南阳</a></div>
                    <div class="col-xs-3 col-md-1"><a href="javascript:void(0);" data-data="洛阳" class="shuaixuan shuaixuan_city" >洛阳</a></div>
                    <div class="col-xs-3 col-md-1"><a href="javascript:void(0);" data-data="焦作" class="shuaixuan shuaixuan_city" >焦作</a></div>
                </div>
            </div>
        </div>
        <hr/>
       <div class="row">
           <div class="col-xs-12 col-md-1" style="font-size: 15px;">
               授课年级:
           </div>
           <div class="col-xs-12 col-md-11">
               <div class="row text-center">
                   <div class="col-xs-3 col-md-1"><a href="javascript:void(0);" data-data="one" class="shuaixuan shuaixuan_class">一年级</a></div>
                   <div class="col-xs-3 col-md-1"><a href="javascript:void(0);" data-data="two" class="shuaixuan shuaixuan_class" >二年级</a></div>
                   <div class="col-xs-3 col-md-1"><a href="javascript:void(0);" data-data="three" class="shuaixuan shuaixuan_class" >三年级</a></div>
                   <div class="col-xs-3 col-md-1"><a href="javascript:void(0);" data-data="four" class="shuaixuan shuaixuan_class" >四年级</a></div>
                   <div class="col-xs-3 col-md-1"><a href="javascript:void(0);" data-data="five" class="shuaixuan shuaixuan_class" >五年级</a></div>
                   <div class="col-xs-3 col-md-1"><a href="javascript:void(0);" data-data="six" class="shuaixuan shuaixuan_class" >六年级</a></div>
                   <div class="col-xs-3 col-md-1"><a href="javascript:void(0);" data-data="seven" class="shuaixuan shuaixuan_class" >初一</a></div>
                   <div class="col-xs-3 col-md-1"><a href="javascript:void(0);" data-data="eight" class="shuaixuan shuaixuan_class" >初二</a></div>
                   <div class="col-xs-3 col-md-1"><a href="javascript:void(0);" data-data="nine" class="shuaixuan shuaixuan_class" >初三</a></div>
                   <div class="col-xs-3 col-md-1"><a href="javascript:void(0);" data-data="ten" class="shuaixuan shuaixuan_class" >高一</a></div>
                   <div class="col-xs-3 col-md-1"><a href="javascript:void(0);" data-data="eleven" class="shuaixuan shuaixuan_class" >高二</a></div>
                   <div class="col-xs-3 col-md-1"><a href="javascript:void(0);" data-data="twelve" class="shuaixuan shuaixuan_class" >高三</a></div>
               </div>
           </div>
       </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-md-1" style="font-size: 15px;">
                主辅学科:
            </div>
            <div class="col-xs-11 col-md-11">
                <div class='row text-center'>
                    <div class="col-xs-3 col-md-1"><a href="javascript:void(0);" data-data="chinese" class="shuaixuan shuaixuan_subject" >语文</a></div>
                    <div class="col-xs-3 col-md-1"><a href="javascript:void(0);" data-data="math" class="shuaixuan shuaixuan_subject" >数学</a></div>
                    <div class="col-xs-3 col-md-1"><a href="javascript:void(0);" data-data="english" class="shuaixuan shuaixuan_subject" >英语</a></div>
                    <div class="col-xs-3 col-md-1"><a href="javascript:void(0);" data-data="physics" class="shuaixuan shuaixuan_subject" >物理</a></div>
                    <div class="col-xs-3 col-md-1"><a href="javascript:void(0);" data-data="chemistry" class="shuaixuan shuaixuan_subject" >化学</a></div>
                    <div class="col-xs-3 col-md-1"><a href="javascript:void(0);" data-data="biology" class="shuaixuan shuaixuan_subject">生物</a></div>
                    <div class="col-xs-3 col-md-1"><a href="javascript:void(0);" data-data="politics" class="shuaixuan shuaixuan_subject" >政治</a></div>
                    <div class="col-xs-3 col-md-1"><a href="javascript:void(0);" data-data="history" class="shuaixuan shuaixuan_subject" >历史</a></div>
                    <div class="col-xs-3 col-md-1"><a href="javascript:void(0);" data-data="geography" class="shuaixuan shuaixuan_subject" >地理</a></div>
                    <div class="col-xs-3 col-md-1"><a href="javascript:void(0);" data-data="art" class="shuaixuan shuaixuan_subject" >艺术</a></div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-3 col-md-1" style="font-size: 15px;">
                性别:
            </div>
            <div class="col-xs-9 col-md-11">
                <div class='row text-center'>
                    <div class="col-xs-1"><a href="javascript:void(0);" data-data="1" class="shuaixuan shuaixuan_sex" >男</a></div>
                    <div class="col-xs-1"><a href="javascript:void(0);" data-data="0" class="shuaixuan shuaixuan_sex" >女</a></div>
                </div>
            </div>
        </div>
     </div>
</div>
    <div class="panel panel-default">
        <div class="panel-body" id="wj">
            <foreach name="searchInfo" item="vo">
                <a target="_blank" href="{:U('Index/teacherInfo','','')}?uid={$vo.uid}"  data-time="{$vo.time}">
                <div class="col-xs-12 col-md-6 row_line" >
                    <div class="row">
                        <div class="col-xs-5 col-md-1">
                            <img src="__PUBLIC__{$vo.photo}" alt=""  class="photo_pic" >
                        </div>
                        <div class="col-xs-7 col-md-6 col-md-offset-2" >
                            <div class="row">
                                <label class="te_name">{$vo.name}</label> <span class="te_sex">{$vo['sex'] ? '男':'女'}</span>
                            </div>
                            <div class="row">
                                <label>主攻科目：</label><span class="te_class">{$vo.subject}</span>
                            </div>
                            <div class="row">
                                <label>授课年级：</label><span class="te_subject">
                                {$vo.class}
                                </span>
                            </div>
                            <div class="row">
                                <label>所在城市：</label><span class="te_address">
                                {$vo.region}
                            </span>
                            </div>
                        </div>
                    </div>

                </div>
                </a>
            </foreach>
        </div>
        <div style="display: none;text-align: center;" id='list_over'><h6>over</h6></div>
    </div>
</div>